<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>全部留言</title>
    <link rel="stylesheet" type="text/css" href="css/tupianxiangqing.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <style type="text/css">
        #picturgroup {
            width: 1075px;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.7);
        }

        .user_icon_vote {
            display: inline-block;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            border: #E7E7E7 solid 2px;
            margin: 0.5em;
        }

        nav span a p {
            float: left;
            color: white;
            font-weight: 600;
            font-family: "微软雅黑";
            margin-left: 45px;
            margin-top: 8px;
            font-size: 17px;
        }

        #user_id_username {
            color: rebeccapurple;
            display: inline-block;
            margin-top: 1em;
            font-size: 1.2em;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <%-include public/header.ejs%>
        <div id="main">
            <div id="picturgroup">
                <div style="padding: 1em 1.5em 0.5em;">
                    <div style="float: left;">
                        <a href="#" id="picture_title">
                            <%=picture.title%>
                        </a>
                        <a href="#" style="text-decoration:none;display: inline-block;" id="xin_btn">
                            <%if(isVote){%>
                                <img src="img/icon/爱心变化.png" style="vertical-align: bottom;width:30px" />
                                <span id="zancount" style="color:rgb(232,86,95);">
                                    <%=voteCount.length%>
                                </span>
                                <%}else{%>
                                    <img src="img/icon/爱心.png" style="vertical-align: bottom;width:30px" />
                                    <span id="zancount" style="color:#fff;">
                                        <%=voteCount.length%>
                                    </span>
                                    <%}%>
                        </a>
                    </div>
                    <a href="#" data-toggle="modal" data-target="#voteOfUser" style="margin-top:-0.5em;display:inline-block;text-decoration: none;">
                        <div style="display:block;margin-left:1em;padding:0;float: left;">
                            <%for(var i=0;i<voteCount.length;i++){%>
                                <%if(i==3)break;%>
                                    <img src="<%=voteCount[i]['user_id']['avatar']%>" id="vote_user_icon_<%=i%>" class="vote_user_icon" />
                                    <%}%>
                        </div>
                        <%if(voteCount.length>=3){%>
                            <span style="margin-left: -4.5em;color:rgb(232,86,95);margin-top:1.2em;opacity:0.8;display: inline-block;">...</span>
                            <span style="margin-top:1.2em;display: inline-block;color:rgb(232,86,95);">等人点赞</span>
                            <%}else if(voteCount.length>1){%>
                                <span style="margin-left: -2em;color:rgb(232,86,95);margin-top:1.2em;opacity:0.8;display: inline-block;">...</span>
                                <span style="margin-top:1.2em;display: inline-block;color:rgb(232,86,95);">等人点赞</span>
                                <%}else if(voteCount.length==1){%>
                                    <span style="margin-top:1.2em;margin-left:0em;display: inline-block;color:rgb(232,86,95);">点了赞</span>
                                    <%}%>
                    </a>
                    <div style="float: right;margin-top:-1em;">
                        <%if(user.user_id.avatar){%>
                        <img src="<%=user.user_id.avatar%>" class="user_icon" style="display:inline-block;" />
                        <%}else{%>
                        <img src="/img/icon/姓名用户名(未注册).png"  class="user_icon" style="display:inline-block;background:white"/>
                        <%}%>
                        <span id="user_id_username">By：
                            <%=user.user_id.username%>
                        </span>
                    </div>
                </div>
                <img style="margin-left: 10px" src="<%=picture.path%>" id="picture_info" />
                <br>
                <br>
                <h3 style="margin-left:10px">图片介绍：</h3>
                <div style="border:rgb(224, 224, 224) solid 2px;margin:0 10px;background:rgba(255, 255, 255, 0.7)">
                    <h3 style="margin-left:10px;color: rebeccapurple">
                        <%=picture.abstract%>
                    </h3>
                </div>
                <br>
                <h3 style="margin-left:10px">评论：</h3>
                <div id="pinglunqu">
                    <br />
                    <div id="pinglun_div">
                        <!--评论模板放置-->
                    </div>
                    <br>
                    <br>
                    <form action="" method="post" id="pinglunform">
                        <textarea id="pinglunarea">请在这开始评论</textarea>
                        <button id="submit" type="button" class="btn btn-success" style="margin-top:1em;">提交</button>
                        <button type="reset" class="btn btn-danger" style="margin-top:1em;">重置</button>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
            <div class="modal fade" id="voteOfUser" tabindex="-1" role="dialog" aria-labelledby="myreply" aria-hidden="true">
                <div class="modal-dialog" id="modal-dialog" style="width: 400px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myreply">谁赞了这张图</h4>
                        </div>
                        <div class="modal-body" id="modal-body" style="text-align: center;max-height:30em;overflow: auto">

                            <%for(var i=0;i<voteCount.length;i++){%>
                                <a href="#" style="display: inline-block;text-decoration: none">
                                    {{ if(voteCount[i]['user_id']['avatar']){ }}
                                    <img src="<%=voteCount[i]['user_id']['avatar']%>" class="user_icon_vote" />
                                    {{ else{ }}
                                    <img src="/img/icon/姓名用户名(未注册).png" class="user_icon_vote" />
                                    {{ } }}

                                    <br>
                                    <span>
                                        <%=voteCount[i]['user_id']['username']%>
                                    </span>
                                </a>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<!--评论模板-->
<script type="text/template" id="template">
    {{if((num%2)===1) { }}
    <div class="user_pinglun_div_right">
        {{if(avatar){ }}
            <img src="{{=avatar}}" class="user_icon" />
        {{ }else{ }}
            <img src="/img/icon/姓名用户名(未注册).png" class="user_icon" />
        {{ } }}
        <img src="img/pinglun/pinglunyou.png" class="pinglunyou_icon" />
        <div>
            <div style="float: right;margin-right: 0 !important;">
                <p class="pinglun pinglunyou" >{{= content }}</p>
                <div class="delcommentyou">
                    {{if(isLogin==="true"&&(username===name)){ }}
                    <a href="/commentsList/delete?pictureId={{=pictureId}}&id={{=id}}">删除</a>
                    {{ }else{ }}
                    <a style="opacity:0">删除</a>
                    {{ } }}
                </div>
            </div>
            <span class="time_tag time_tag_right">{{=date}}</span>
        </div>
    </div>
    {{ }else{ }}
    <div class="user_pinglun_div_left">
        {{if(avatar){ }}
            <img src="{{=avatar}}" class="user_icon" />
        {{ }else{ }}
            <img src="/img/icon/姓名用户名(未注册).png" class="user_icon" />
        {{ } }}
        <img src="img/pinglun/pinglunzuo.png" class="pinglunzuo_icon" />
        <div>
            <p class="pinglun">{{= content }}</p>
            {{if(isLogin==="true"&&(username===name)){ }}
            <a href="/commentsList/delete?pictureId={{=pictureId}}&id={{=id}}" class="delcommentzuo">删除</a>
            {{ }else{ }}
                    <a class="delcommentzuo"></a>
                    {{ } }}
                <br />
                <span class="time_tag">{{=date}}</span>
            </div>
        </div>
        {{ } }}
    </script>

<script type="text/javascript">
    //默认请求第一页数据
    getData();

    //Ajax请求数据
    function getData() {
        $.get("/commentsList/find?pictureId=<%=pictureId%>", function (result) {
            //模板函数
            let compiled = _.template($("#template").html());
            //清空全部留言中的所有节点
            $("#pinglun_div").html("");
            for (let i = 0; i < result.length; i++) {
                //数据绑定
                let html = compiled({
                    num: i,
                    id: result[i]._id,
                    content: result[i].comment.content,
                    name: result[i].user_id.username,
                    date: new Date(result[i].date).toLocaleString(),
                    pictureId: "<%=pictureId%>",
                    isLogin: $('#isLogin').val(),
                    username: "<%=username%>",
                    avatar: result[i].user_id.avatar
                });
                //DOM操作，添加节点
                $("#pinglun_div").append($(html));
            }
            $("#pinglun_div").scrollTop($("#pinglun_div")[0].scrollHeight);
            // alert(;
        });
    }

    //Ajax提交表单
    $("#submit").click(function () {
        if ($('#isLogin').val() === "false") {
            alert('登录后才能评论');
            return;
        }
        $.post("/commentsList", {
            "pictureId": "<%=pictureId%>",
            "content": $("#pinglunarea").val()
        }, function (result) {
            if (result.result === -1) {
            } else if (result.result === 1) {
                //重新加载数据
                getData();
            }
        });
    });

    $("#voteOfUser").draggable();

    $('#xin_btn img').click(function () {
        if ($(this).attr('src') === "img/icon/爱心.png") {
            if ($('#isLogin').val() === "false") {
                alert('登录后才能进行点赞!');
                return;
            }
            $(this).attr('src', "img/icon/爱心变化.png");
            $.get("/vote/addVote?pictureId=" + '<%=pictureId%>', (result) => {
                location.reload();
            });
        } else {
            $(this).attr('src', "img/icon/爱心.png");
            $.get("/vote/delVote?pictureId=" + '<%=pictureId%>', (result) => {
                location.reload();
            });
        }
    });
</script>

</html>